<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DJZPopupWebView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>InfiniteScrollingView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MerchScroller.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>VModaPopupAd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>307A349D1D34553800C08305</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>307A34B11D34553900C08305</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>307A34BC1D34553900C08305</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>309F3A7F1D4BEC7700C3314A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>309F3A881D4BEC7700C3314A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>309F3AA41D4BECE500C3314A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>309F3AAD1D4BECE600C3314A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>309F3ADF1D4C196B00C3314A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>309F3AE81D4C196B00C3314A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
